.card {
    margin: auto;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    max-width: 290px;
    max-height: auto;
    border-radius: 25px;
    text-align: center;
    flex-direction: column;
}
.card img {
    display: flex;
    max-width: auto;
    border-radius: 15px;
}

.card h1 p {
   font-family: 'Outfit';
   justify-content: center;
}

.card h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.3em;
    padding: 10px;
    margin-bottom: auto;
}

.card p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    margin-top: auto;
}

@media (max-width: 350px) {
    .card {
        max-width: 200px;
        padding: 12px;
    }

    .card h1 {
        font-size: 0.9em;
        padding: 7px;
    }

    .card p {
        font-size: 10px;
        padding: 7px;
    }
}